@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  overflow-x: hidden;
}
@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.section-header .section-title {
  color: #3a3a3a;
}
.section-header .section-desc {
  color: #666666;
}
.section-header .section-desc {
  color: #666666;
}
.my-btn {
  background-color: #b88e2f;
  color: #fff;
  border: 1px solid #b88e2f;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.my-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #fff;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: -1;
  transition: 0.3s;
}
.my-btn:hover {
  color: #b88e2f;
}
.my-btn:hover::before {
  transform: translateX(0%);
}
.my-btn.lighter {
  background-color: #fff;
  color: #b88e2f;
}
.my-btn.lighter:hover {
  color: #fff;
}
.my-btn.lighter::before {
  background-color: #b88e2f;
}
/* Start Nav Styling */
nav {
  padding: 28px 60px 28px 54px;
  flex-wrap: wrap;
}
nav .logo .logo-title {
  font-size: 34px;
  font-weight: 700;
}
nav .nav-links {
  width: 35%;
  justify-content: space-between;
}
nav .nav-icons {
  width: 17%;
  justify-content: space-between;
}
@media (max-width: 992px) {
  nav {
    padding: 28px 40px 28px 34px;
  }
  nav .nav-icons {
    width: 25%;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 28px 30px 28px 30px;
  }
  nav .nav-links {
    display: none;
  }
  nav .nav-icons {
    width: 80%;
    margin: 24px auto 0 auto;
    justify-content: space-evenly;
  }
  nav .nav-icons li {
    /* margin-left: 32px; */
  }
  nav .menu-icon {
    display: block !important;
  }
}
@media (max-width: 576px) {
  nav {
    padding: 20px 20px 20px 14px;
  }
  nav .logo .logo-title {
    font-size: 28px;
    font-weight: 700;
  }
  nav .nav-icons {
    width: 100%;
  }
}
nav .nav-links a {
  font-weight: 500;
}
nav .nav-icons li {
  cursor: pointer;
}
/* Start Menu-links Bar */
nav .menu-icon {
  font-size: 22px;
  display: none;
  cursor: pointer;
}
nav .menu {
  width: 300px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
  padding-top: 10px;
  font-size: 20px;
  transition: 0.3s;
  right: -120%;
}
nav .menu.show {
  right: 0;
}
nav .menu .menu-header {
  font-size: 24px;
  margin-bottom: 16px;
  padding: 12px 20px 12px 12px;
  border-bottom: 1px solid #0000002b;
}
nav .menu .menu-header i {
  cursor: pointer;
  color: #9f9f9f;
  transition: 0.2s;
}
nav .menu .menu-header i:hover {
  color: #000;
}
nav .menu-links a {
  display: inline-block;
  padding: 12px;
  width: 100%;
}
nav .menu-links a:hover {
  background-color: #eee;
}
/* End Menu-links Bar */
/* End Nav Styling */
/* Start Landing Section Styling */
.landing {
  background-image: url("../images/landing-image.png");
  height: 100vh;
  width: 100%;
  position: relative;
}
.landing .landing-container {
  position: absolute;
  background-color: #fff3e3;
  width: 40%;
  padding: 40px 24px 24px 30px;
  border-radius: 10px;
  top: 30%;
  right: 5%;
  /* transform: translate(135%, 50%); */
}
.landing .landing-container .new-arrival {
  font-weight: 600;
  letter-spacing: 3px;
  color: #333333;
}
.landing .landing-container .landing-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  color: #b88e2f;
}
.landing .landing-container .landing-desc {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}
.landing .landing-container .buy-now-btn {
  padding: 25px 72px;
  font-weight: 700;
  margin-top: 32px;
}
@media (max-width: 1280px) {
  .landing .landing-container {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .landing .landing-container {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .landing .landing-container {
    width: 85%;
  }
  .landing .landing-container .new-arrival {
    font-size: 14px;
  }
  .landing .landing-container .landing-title {
    font-size: 44px;
    line-height: 55px;
  }
  .landing .landing-container .landing-desc {
    font-size: 16px;
  }
  .landing .landing-container .buy-now-btn {
    display: inline-block;
    padding: 20px 65px;
  }
}
@media (max-width: 576px) {
  .landing .landing-container {
    width: 95%;
    right: 0%;
  }
}
@media (max-width: 450px) {
  .landing .landing-container .landing-title {
    font-size: 40px;
    line-height: 50px;
  }
  .landing .landing-container .landing-desc {
    font-size: 14px;
  }
  .landing .landing-container .buy-now-btn {
    display: inline-block;
    padding: 18px 62px;
  }
}
/* End Landing Section Styling */
/* Start Categories Section Styling*/
.categories-section .section-content {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* End Categories Section Styling*/
/* Start Galleyry Section Styling */
.gallery-section .section-content {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  /* grid-template-rows: repeat(16, 40px); */
  transform: translateY(-25px);
  /* grid-template-areas: "1  . . . . . . . . . 2 2"; */
}
.gallery-section .section-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-section .section-content img:first-child {
  grid-area: 1 / 1 / 8 / 2;
}
.gallery-section .section-content img:nth-child(2) {
  grid-area: 2 / 12 / 9 / 15;
}
.gallery-section .section-content img:nth-child(3) {
  grid-area: 2 / 2 / 8 / 6;
}
.gallery-section .section-content img:nth-child(4) {
  grid-area: 4 / 6 / 11 / 9;
}
.gallery-section .section-content img:nth-child(5) {
  grid-area: 3 / 9 / 9 / 12;
}
.gallery-section .section-content img:nth-child(6) {
  grid-area: 8 / 1 / 14 / 3;
}
.gallery-section .section-content img:nth-child(7) {
  grid-area: 8 / 3 / 13 / 6;
}
.gallery-section .section-content img:nth-child(8) {
  grid-area: 9 / 9 / 12 / 11;
}
.gallery-section .section-content img:nth-child(9) {
  grid-area: 9 / 11 / 12 / 14;
}

@media (min-width: 1024px) {
  .gallery-section .section-header .section-title {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 992px) {
  .gallery-section .section-content {
    margin-top: 24px;
  }
}
@media (max-width: 768px) {
  .gallery-section .section-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    grid-template-rows: none !important;
    transform: translateY(0);
    padding: 0 20px;
  }
  .gallery-section .section-content img {
    grid-area: auto !important;
    object-fit: cover !important;
    height: 320px !important;
  }
}
/* End Galleyry Section Styling */
/* Sart Beautiful Rooms Section */
.beautiful-rooms-section {
  background-color: #fcf8f3;
  padding: 40px 0;
}
.beautiful-rooms-section .container {
  align-items: center;
}
.beautiful-rooms-section .explore-more-btn {
  padding: 12px 24px;
  margin-top: 16px;
}
.beautiful-rooms-section .section-header .section-desc {
  padding-right: 66px;
}
@media (min-width: 1024px) {
  .beautiful-rooms-section .section-header .section-title {
    font-size: 40px;
    line-height: 48px;
  }
}
/* End Beautiful Rooms Section */
/* Start our features styling */
.our-features {
  justify-content: space-between;
  background-color: #f9f1e7;
  padding: 12px 0;
}
.our-features .container {
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .our-features .container > .feature {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .our-features .container {
    gap: 32px;
    align-items: center;
    justify-content: center;
  }
  .our-features .container > .feature {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .our-features .feature .feature-icon svg {
    width: 55px;
    height: 55px;
  }
}
/* End our features styling */
/* Start Footer Styling */
footer .footer-content {
  border-bottom: 1px solid #0000002b;
  justify-content: space-evenly;
}
footer .footer-content hr {
  display: none;
}
footer .footer-branding .footer-logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
footer .footer-branding .footer-desc {
  color: #9f9f9f;
  padding-right: 48px;
}
footer .footer-links {
  flex: 1;
  justify-content: space-evenly;
}
footer .footer-newsletter {
  flex: 1;
}
footer .footer-newsletter .email input {
  margin-right: 12px;
}
footer .footer-newsletter .email input:focus {
  outline: none;
}
footer .footer-newsletter .email input,
footer .footer-newsletter .email button {
  border-bottom: 1px solid black;
  font-size: 14px;
}
footer .footer-newsletter .email button {
  font-weight: 500;
}
footer .group-name {
  color: #9f9f9f;
  font-weight: 500;
}
footer a {
  font-weight: 500;
}
footer .footer-copyrights {
  margin-top: 16px;
}
@media (max-width: 1024px) {
  footer .footer-content {
    flex-direction: column;
    gap: 20px;
  }
  footer .footer-content hr {
    display: block;
  }
  footer .footer-links {
    width: 60%;
    justify-content: space-between;
  }
}
@media (min-width: 576px) {
  footer .footer-links {
    display: flex;
  }
  footer .footer-links-small {
    display: none;
  }
}
@media (max-width: 576px) {
  footer .footer-links {
    display: none;
  }
  footer .footer-links-small {
    display: flex;
  }
}
footer .footer-links-small i.hidden {
  display: none;
}
footer .footer-links-small .group ul {
  display: none;
}
footer .footer-links-small .group ul.show {
  display: flex;
}
/* End Footer Styling */
/* Start Cart Page */
.cart-page .cart-details table {
  height: fit-content;
}
.cart-page .cart-details table th,
.cart-page .cart-details table td {
  text-align: left;
}
.cart-page .cart-details table td.trash {
  /* padding: 0 12px; */
  color: #b88e2f;
}
.cart-page .cart-details table td.quantity span {
  border: 1px solid #9f9f9f;
  padding: 5px 10px;
}
.cart-page .cart-details table thead {
  background-color: #f9f1e7;
}
.cart-page .cart-details table thead tr {
  height: 55px;
}
.cart-page .cart-details table tbody tr:first-child td {
  padding-top: 48px;
}
.cart-page .cart-details table tbody td {
  padding: 24px 12px;
}

.cart-page .cart-details table td.product-image img {
  width: 100%;
  max-width: 105px;
  max-height: 105px;
}
.cart-page .cart-totals {
  background-color: #f9f1e7;
  flex: 1;
}
.cart-page .cart-totals .checkout-btn {
  border: 1px solid #000;
}
.cart-page .cart-totals .totals-details {
  width: 60%;
}
.cart-page .cart-totals .totals-details .name {
  font-weight: 500;
}
.cart-page .cart-totals .totals-details .subtotal .value {
  color: #9f9f9f;
}
.cart-page .cart-totals .totals-details .total .value {
  color: #b88e2f;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 1280px) and (min-width: 1024px) {
  .cart-page .cart-totals .totals-details {
    width: 75%;
  }
}
@media (max-width: 1024px) {
  .cart-page .cart-details {
    flex-direction: column;
  }
  .cart-page .cart-details table {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cart-page .cart-details table th,
  .cart-page .cart-details table td {
    font-size: 14px;
    text-align: center;
  }
  .cart-page .cart-details table td.product-image {
    padding: 16px;
  }
}
@media (max-width: 576px) {
  .cart-page .cart-details table thead tr {
    height: 45px;
  }
  .cart-page .cart-details table th,
  .cart-page .cart-details table td {
    font-size: 13px;
  }
  .cart-page .cart-details table thead th:first-child,
  .cart-page .cart-details table td.product-image {
    display: none;
  }
  .cart-page .cart-details table td.quantity span {
    border: 1px solid #9f9f9f;
    padding: 4px 8px;
  }
  .cart-page .cart-details table tbody tr:first-child td {
    padding-top: 20px;
  }
  .cart-page .cart-details table tbody td {
    padding: 12px 4px;
  }

  .cart-page .cart-totals .totals-details {
    width: 75%;
  }
}
/* End Cart Page */
