@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-weight: bold;
    size: 20px;
    overflow: hidden;
    cursor: pointer;
    flex-direction: column;
    max-height: 100%;
    text-decoration: line-through;
    cursor: pointer;
    transform: translate();
    transition: ;
}